@model IEnumerable<MyBook2.Services.Books.Models.BookServiceModel>

@{
	ViewBag.Title = "My Books";
	ViewBag.AllowBookEditing = true;
}

@if (!Model.Any())
{
	<h2 class="text-center">No Books in your library yet!</h2>
}

<partial name="_BooksPartial" model="@Model" />